.background {
  background: url("../images/outro.jpg") no-repeat center center
  fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: fill;
}

html, body {
  width: 100%;
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;

}

.congrats {
  text-align: center;
  bottom: 100px;
  color: white;
  margin-top: 355px;
  line-height: 100%;
}